<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/common_colors.css}">
    <link rel="stylesheet" th:href="@{/css/navigation_bar.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
</head>
<body>
    <header>
        <div class="flex-container" id="whole_navigation-bar">
            <div class="flex-container" id="inner_navigation-bar">
                <div id="home" class="flex-item">
                    <h3>
                        <a th:href="@{/home}" id="nav-link-home" class="nav-link">Home</a>
                    </h3>
                </div>
                <div id="about" class="flex-item">
                    <h3>
                        <a th:href="@{/about}" id="nav-link-about" class="nav-link">About</a>
                    </h3>
                </div>
            </div>
        </div>
    </header>
    <div class="data-form" id="area">
        <form th:action="@{/home}" method="post"></form>
    </div>
    <footer>
        <div class="copyright">
            <p>
                © 2025 Benjamin Andreas Vraspillai. All rights reserved.
            </p>
        </div>
    </footer>
</body>
</html>
